.transaction-minus, .transaction-plus {
    font-size: 1.25rem;

    padding: 1rem;
    margin-bottom: 1rem;

    border-radius: 0.5rem;

    width: 15rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #e6e6e6;

    position: relative;
}


.transaction-minus span, .transaction-plus span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.transaction-minus span {
    color: #9c2b2b;
}

.transaction-plus span {
    color: #379c2b;
}


.transaction-plus p, .transaction-minus p {
    font-size: 1.5rem;
    color: #303133;
}


.delete-btn {
    background-color: #ff4d4d;
    color: white;
    
    border: none;
    border-radius: 5px;
    
    padding: 10px 20px;
    
    font-size: 16px;
    
    cursor: pointer;
    
    transition: background-color 0.3s ease, transform 0.3s ease;
    
    position: absolute;
    right: 10px;
}

.delete-btn:hover {
    background-color: #e60000;
    transform: scale(1.05);
}

.delete-btn:active {
    background-color: #cc0000;
    transform: scale(1);
}

.delete-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 77, 77, 0.5);
}